body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.prueba{
  color: #2fbe6b;
  color: #add6ca;
  display: block;
  justify-content: space-between;
  
  visibility: hidden;
  align-items: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
  

  justify-content: space-between;
  align-items: flex-start;
  display: block;
  flex-wrap: wrap;
  margin-top: 20px;
font-size: 20px;
  

  justify-content: space-around;
  
  
  
}